<div style="text-align: center;" class="row">
Powered by <strong>BlaziNG</strong>
<br>
All rights reserved. Unless otherwise noted, all information contained in this site is considered Internal and is intended for distribution to MICE employees,
authorized contractors and/or vendors only.
<br>
©
<!-- <img style="height: 28px; margin: -7px; margin-right: 5px; margin-top: 4px;" src="assets/logo-mice-black.png" alt="logo MICE" /> -->
<a class="footer-text" href="http://www.micegroup.it">Mice s.r.l</a>
 
</div>
