<div class="sidebar-right">
    <!-- write here -->
   <div class="fk-center title" >
       <strong>Themes</strong> 
    </div>
    <div class="fk-column">
       <button bzButton (click)="setLightTheme()" class="button"> Light  </button>
       <button bzButton (click)="setItaliaPaTheme()" class="button" > Blue  </button>
       <button bzButton (click)="setBlackTheme()" class="button"> Black  </button>
       <!-- <button bzButton (click)="setItaliaPaTheme()" class="button" > PA </button> -->
    </div>
</div>

