$italiaPA-theme: (
    header: (
        background-color: #003882,
        color: white,
        box-shadow: #003882
    ),
     action: (
        color: #dae0e5,
        border: 2px solid black
    )
);
