<bz-card [bzSpinner]="spinner" [size]="cardSize" global>
    <bz-card-header class="fk-main-header">
        {{ 'header.list' | translate: { name: 'detail.Product.label' | translate } }}
    </bz-card-header>

    <bz-card-content>
        <bz-table
            [sources]="productList"
            cssClass="fk-table-stripped fk-table-bordered"
            [pageSize]="pageSize"
            [nVisiblePages]="3"
            [totalPages]="totalElements"
            (pageObject)="paginateTable($event, null)"
            [page]="page"
            paginatedBe
        >
            <!-- Product Id -->
            <th bzHeaderColumn bzSortColumn="productId" scope="col">{{ 'detail.Product.productId' | translate }}</th>
            <td *bzColumnDef="let element" class="fk-pointer" (click)="selectElement(element)">
                {{ element.productId }}
            </td>
            <ng-container bzTableNoValue> {{ 'table.noRecordFound' | translate: { '0': 'detail.Product.label' | translate } }} </ng-container>
        </bz-table>
    </bz-card-content>
</bz-card>
