<form [formGroup]="productForm">
    <bz-card>
        <bz-card-header class="fk-main-header">
            {{ 'header.detail' | translate: { name: 'detail.Product.label' | translate } }}
            <em bzTooltip="{{ 'detail.Product.tooltip' | translate }}" class="fa fa-question-circle"></em>
        </bz-card-header>

        <bz-card-content>
            <ng-container *ngIf="pageStatus | hasPageStatus: ['new', 'edit']">
                <!-- Product Id-->
                <bz-input
                    label="{{ 'detail.Product.productId' | translate }}*:"
                    formControlName="productId"
                    bzTooltip="{{ 'detail.Product.tooltip.productId' | translate }}"
                    type="number"
                    [disableAttr]="pageStatus | hasPageStatus: 'edit'"
                >
                    <bz-error *ngFor="let err of errorsFor(productForm, 'productId')">
                        {{ err.key | translate: getParams('detail.Product.productId' | translate, err.params) }}
                    </bz-error>
                </bz-input>

                <!-- Product Name-->

                <bz-input
                    label="{{ 'detail.Product.productName' | translate }}:"
                    formControlName="productName"
                    bzTooltip="{{ 'detail.Product.tooltip.productName' | translate }}"
                    type="string"
                >
                    <bz-error *ngFor="let err of errorsFor(productForm, 'productName')">
                        {{ err.key | translate: getParams('detail.Product.productName' | translate, err.params) }}
                    </bz-error>
                </bz-input>

                <!-- Cost-->
                <bz-input label="{{ 'detail.Product.cost' | translate }}:" formControlName="cost" bzTooltip="{{ 'detail.Product.tooltip.cost' | translate }}" type="number">
                    <bz-error *ngFor="let err of errorsFor(productForm, 'cost')">
                        {{ err.key | translate: getParams('detail.Product.cost' | translate, err.params) }}
                    </bz-error>
                </bz-input>

                <!-- Disponibility-->
                <bz-input
                    label="{{ 'detail.Product.disponibility' | translate }}:"
                    formControlName="disponibility"
                    bzTooltip="{{ 'detail.Product.tooltip.disponibility' | translate }}"
                    type="number"
                >
                    <bz-error *ngFor="let err of errorsFor(productForm, 'disponibility')">
                        {{ err.key | translate: getParams('detail.Product.disponibility' | translate, err.params) }}
                    </bz-error>
                </bz-input>

                <!-- Description-->

                <bz-input
                    label="{{ 'detail.Product.description' | translate }}:"
                    formControlName="description"
                    bzTooltip="{{ 'detail.Product.tooltip.description' | translate }}"
                    type="string"
                >
                    <bz-error *ngFor="let err of errorsFor(productForm, 'description')">
                        {{ err.key | translate: getParams('detail.Product.description' | translate, err.params) }}
                    </bz-error>
                </bz-input>

                <!-- Image-->

                <bz-input label="{{ 'detail.Product.image' | translate }}:" formControlName="image" bzTooltip="{{ 'detail.Product.tooltip.image' | translate }}" type="string">
                    <bz-error *ngFor="let err of errorsFor(productForm, 'image')">
                        {{ err.key | translate: getParams('detail.Product.image' | translate, err.params) }}
                    </bz-error>
                </bz-input>
            </ng-container>

            <div *ngIf="pageStatus | hasPageStatus: 'view'">
                <!-- Product Id -->
                <div class="fk-row fk-p-mb-15">
                    <div class="fk-col-4 fk-p">
                        <label> {{ 'detail.Product.productId' | translate }}: &nbsp;</label>
                    </div>
                    <div class="fk-col fk-p">
                        <strong>{{ product?.productId }}</strong>
                    </div>
                </div>

                <!-- Product Name -->
                <div class="fk-row fk-p-mb-15">
                    <div class="fk-col-4 fk-p">
                        <label> {{ 'detail.Product.productName' | translate }}: &nbsp;</label>
                    </div>
                    <div class="fk-col fk-p">
                        <strong>{{ product?.productName }}</strong>
                    </div>
                </div>

                <!-- Cost -->
                <div class="fk-row fk-p-mb-15">
                    <div class="fk-col-4 fk-p">
                        <label> {{ 'detail.Product.cost' | translate }}: &nbsp;</label>
                    </div>
                    <div class="fk-col fk-p">
                        <strong>{{ product?.cost }}</strong>
                    </div>
                </div>

                <!-- Disponibility -->
                <div class="fk-row fk-p-mb-15">
                    <div class="fk-col-4 fk-p">
                        <label> {{ 'detail.Product.disponibility' | translate }}: &nbsp;</label>
                    </div>
                    <div class="fk-col fk-p">
                        <strong>{{ product?.disponibility }}</strong>
                    </div>
                </div>

                <!-- Description -->
                <div class="fk-row fk-p-mb-15">
                    <div class="fk-col-4 fk-p">
                        <label> {{ 'detail.Product.description' | translate }}: &nbsp;</label>
                    </div>
                    <div class="fk-col fk-p">
                        <strong>{{ product?.description }}</strong>
                    </div>
                </div>

                <!-- Image -->
                <div class="fk-row fk-p-mb-15">
                    <div class="fk-col-4 fk-p">
                        <label> {{ 'detail.Product.image' | translate }}: &nbsp;</label>
                    </div>
                    <div class="fk-col fk-p">
                        <strong>{{ product?.image }}</strong>
                    </div>
                </div>
            </div>
        </bz-card-content>
    </bz-card>

    <!-- Buttons -->
    <bz-buttons-panel fixed>
        <button bzButton status="primary" type="button" (click)="buttonsService.goBack()">{{ 'buttons.goBack' | translate }}</button>
        <button
            *ngIf="(pageStatus | hasPageStatus: 'new') && (Privileges?.PRODUCT_CREATE | hasPermission: privileges)"
            bzButton
            status="primary"
            class="button"
            (click)="insertProduct()"
        >
            {{ 'buttons.save' | translate }}
        </button>
        <button
            *ngIf="(pageStatus | hasPageStatus: 'view') && (Privileges?.PRODUCT_FIND_BY_ID | hasPermission: privileges)"
            bzButton
            status="primary"
            class="button"
            (click)="editProduct()"
            type="button"
        >
            {{ 'buttons.edit' | translate }}
        </button>
        <button
            *ngIf="(pageStatus | hasPageStatus: 'edit') && (Privileges?.PRODUCT_UPDATE | hasPermission: privileges)"
            bzButton
            status="primary"
            class="button"
            (click)="updateProduct()"
        >
            {{ 'buttons.save' | translate }}
        </button>
        <button
            *ngIf="(pageStatus | hasPageStatus: ['view']) && (Privileges?.PRODUCT_DELETE | hasPermission: privileges)"
            bzButton
            status="primary"
            class="button"
            (click)="confirmDeleteProduct()"
        >
            {{ 'buttons.delete' | translate }}
        </button>
        <button
            bzButton
            status="primary"
            class="button"
            *ngIf="(pageStatus | hasPageStatus: 'view') && (Privileges?.PRODUCT_CREATE | hasPermission: privileges)"
            routerLink="/pages/ms-database/product/detail-product/new"
        >
            {{ 'buttons.new' | translate: { '0': ' ' } }}
        </button>
    </bz-buttons-panel>
</form>
