.login-page {
    background-color: #c8d2e1;
}

.login-header {
    font-size: 25px;
}

.login-input {
    margin-bottom:10px;
}

.login-button {
    width:100%; 
    margin-top:10px;
}

.login-answer {
    font-size: 13px; 
    margin-top:10px
}

.login-singup {
    margin-left:5px;
}